body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url('lib/Forest.jpg');
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .button{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}

.lineup {
  float: left;
}
.title{
  background-color: #777;
}
/*.dancer{
  border:50px solid red;
  border-radius:50px;
  position:absolute;
}*/
.gandalf {
  height: 100px;
  width: 242px;
  background: url('lib/gandalf.gif') ;
  background-size: 242px 100px;
  position: absolute;
}
.drake {
  height: 150px;
  width: 150px;
  background: url('lib/drake.gif') ;
  background-size: 150px 150px;
  position: absolute;
}
.snape {
  height: 150px;
  width: 102px;
  background: url('lib/snape.gif') ;
  background-size: 102px 150px;
  position: absolute;
}
